@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .hasImage:hover section {
    background-color: rgba(5, 5, 5, 0.4);
  }
  .hasImage:hover button:hover {
    background: rgba(5, 5, 5, 0.45);
  }
  #overlay p,
  i {
    opacity: 0;
  }
  #overlay.draggedover {
    background-color: rgba(255, 255, 255, 0.7);
  }
  #overlay.draggedover p,
  #overlay.draggedover i {
    opacity: 1;
  }
}

@layer components {
  .form-input {
    @apply text-black w-full px-3 py-2.5 transition-all transform shadow-none rounded-md bg-black bg-opacity-5;
    @apply focus:outline-none focus:ring-1 ring-offset-current ring-offset-2 ring-gray-400;
  }
  .form-input-sm {
    @apply text-black w-full px-2 py-1.5 text-sm transition-all transform shadow-none rounded-md bg-black bg-opacity-5;
    @apply focus:outline-none focus:ring-1 ring-offset-current ring-offset-2 ring-gray-400;
  }
  .form-input-white-sm {
    @apply text-black w-full px-2 py-1.5 text-sm transition-all transform shadow-none rounded-md bg-white;
    @apply focus:outline-none focus:ring-1 ring-offset-current ring-offset-2 ring-gray-400;
  }

  .button {
    @apply flex items-center px-5 py-2.5 font-medium shadow-none rounded-md;
    @apply focus:outline-none transition-all transform active:scale-95;
  }
  .button-sm {
    @apply flex items-center px-3 py-1.5 font-medium text-sm shadow-none rounded-md;
    @apply focus:outline-none transition-all transform active:scale-95;
  }
  .button-black {
    @apply flex items-center px-5 py-2.5 font-medium shadow-none rounded-md;
    @apply focus:outline-none transition-all transform active:scale-95;
    @apply text-white bg-black hover:bg-gray-800;
  }
  .button-sm-black {
    @apply flex items-center px-3 py-1.5 font-medium text-sm shadow-none rounded-md;
    @apply focus:outline-none transition-all transform active:scale-95;
    @apply text-white bg-black hover:bg-gray-800;
  }
  .button-sm-gray {
    @apply flex items-center px-3 py-1.5 font-medium text-sm shadow-none rounded-md;
    @apply focus:outline-none transition-all transform active:scale-95;
    @apply text-black bg-black bg-opacity-10 hover:bg-opacity-20;
  }
  .button-sm-danger {
    @apply flex items-center px-2 py-2 font-medium text-sm shadow-none rounded-md;
    @apply focus:outline-none transition-all transform active:scale-95;
    @apply text-red-600 bg-red-100 hover:bg-red-200;
  }
  .button-secondary {
    @apply flex items-center px-5 py-2.5 font-medium  shadow-none rounded-md;
    @apply focus:outline-none transition-all transform active:scale-95;
    @apply text-black bg-black bg-opacity-10 hover:bg-opacity-20;
  }

  .tab {
    @apply flex justify-center px-2 py-2;
  }
  .tab-active {
    @apply bg-white rounded-lg shadow text-black;
  }
}
